#root {
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 0px;
}
